<h2><center> UrbanFlow Prognosticator: Propagation-Aware Traffic Prediction and Visualization System</h2></center>
<figure>
<center><img src ="https://media.springernature.com/lw685/springer-static/image/chp%3A10.1007%2F978-3-030-94102-4_6/MediaObjects/509967_1_En_6_Fig1_HTML.png" width = "750" height = '500' alt="unsplash.com"/>

## Author: Umar Kabir

Date: [July, 2023]

<a id='table-of-contents'></a>
# Table of Contents

1. [Introduction](#introduction)
    - Motivation
    - Problem Statement
    - Objective
    - Data Source
    - Importing Dependencies  


2. [Data](#2-data)
    - Data Loading
    - Dataset Overview


3. [Exploratory Data Analysis](#exploratory-data-analysis)
    - Descriptive Statistics
    - Data Visualization
    - Correlation Analysis
    - Outlier Detection


4. [Data Preparation](#data-preparation)
    - Data Cleaning
    - Handling Missing Values
    - Handling Imbalanced Classes
    - Feature Selection
    - Feature Engineering
    - Data Transformation
    - Data Splitting

<a id='introduction'></a>
<font size="+2" color='#053c96'><b> Introduction</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Possible Target Variables</b></font>

<font size="+0" color='green'><b> Motivation</b></font>

<font size="+0" color='green'><b> Problem Statement</b></font>

<font size="+0" color='green'><b> Objectives</b></font>

<font size="+0" color='green'><b> Data Source</b></font>

<font size="+0" color='green'><b> Importing Dependencies</b></font>

In [1]:
import sys
# Insert the parent path relative to this notebook so we can import from the src folder.
sys.path.insert(0, "..")

from src.dependencies import *
from src.functions import *

In [2]:
# Read the configuration file
with open('../data/PeMS04/config.json') as f:
    config_data = json.load(f)

# Extracting relevant information from config
rel_file = config_data["info"]["rel_file"] + ".rel"
dyna_file = config_data["info"]["data_files"][0] + ".dyna"
geo_file = config_data["info"]["geo_file"] + ".geo"

# Load the dataframes
pems04_rel = pd.read_csv(f'../data/PeMS04/{rel_file}', delimiter=',')
pems04_dyna = pd.read_csv(f'../data/PeMS04/{dyna_file}', delimiter=',')
pems04_geo = pd.read_csv(f'../data/PeMS04/{geo_file}', delimiter=',')

In [21]:
print(pems04_dyna.shape)
print(pems04_geo.shape)
print(pems04_rel.shape)

(5216544, 7)
(307, 3)
(340, 5)

In [22]:
print(pems04_dyna.head())
print(pems04_geo.head())
print(pems04_rel.head())

   dyna_id   type                  time  entity_id  traffic_flow  \
0        0  state  2018-01-01T00:00:00Z          0          62.0
1        1  state  2018-01-01T00:05:00Z          0          61.0
2        2  state  2018-01-01T00:10:00Z          0          71.0
3        3  state  2018-01-01T00:15:00Z          0          86.0
4        4  state  2018-01-01T00:20:00Z          0         103.0

   traffic_occupancy  traffic_speed
0             0.0077           67.9
1             0.0074           67.3
2             0.0093           68.4
3             0.0112           67.8
4             0.0144           67.4
   geo_id   type coordinates
0       0  Point          []
1       1  Point          []
2       2  Point          []
3       3  Point          []
4       4  Point          []
   rel_id type  origin_id  destination_id   cost
0       0  geo         73               5  352.6
1       1  geo          5             154  347.2
2       2  geo        154             263  392.9
3       3  geo        263              56  440.8
4       4  geo         56              96  374.6

In [23]:
pems04.head()

   from   to   cost
0    73    5  352.6
1     5  154  347.2
2   154  263  392.9
3   263   56  440.8
4    56   96  374.6

In [3]:
# Read the configuration file
with open('../data/PeMS07/config.json') as f:
    config_data = json.load(f)

# Extracting relevant information from config
rel_file = config_data["info"]["rel_file"] + ".rel"
dyna_file = config_data["info"]["data_files"][0] + ".dyna"
geo_file = config_data["info"]["geo_file"] + ".geo"

# Load the dataframes
pems07_rel = pd.read_csv(f'../data/PeMS07/{rel_file}', delimiter=',')
pems07_dyna = pd.read_csv(f'../data/PeMS07/{dyna_file}', delimiter=',')
pems07_geo = pd.read_csv(f'../data/PeMS07/{geo_file}', delimiter=',')

In [4]:
# Read the configuration file
with open('../data/PeMS08/config.json') as f:
    config_data = json.load(f)

# Extracting relevant information from config
rel_file = config_data["info"]["rel_file"] + ".rel"
dyna_file = config_data["info"]["data_files"][0] + ".dyna"
geo_file = config_data["info"]["geo_file"] + ".geo"

# Load the dataframes
pems08_rel = pd.read_csv(f'../data/PeMS08/{rel_file}', delimiter=',')
pems08_dyna = pd.read_csv(f'../data/PeMS08/{dyna_file}', delimiter=',')
pems08_geo = pd.read_csv(f'../data/PeMS08/{geo_file}', delimiter=',')

In [5]:
with open('../data/NYCTaxi/config.json') as f:
    config_data = json.load(f)

# Extracting relevant information from config
NYCTaxi_grid_file = config_data["info"]["data_files"][0] + ".grid"
NYCTaxi_geo_file = config_data["info"]["geo_file"] + ".geo"

# Load the dataframes
NYCTaxi_grid = pd.read_csv(f'../data/NYCTaxi/{NYCTaxi_grid_file}', delimiter=',')
NYCTaxi_geo = pd.read_csv(f'../data/NYCTaxi/{NYCTaxi_geo_file}', delimiter=',')

In [12]:
# Read the configuration file
with open('../data/T-Drive/config.json') as f:
    config_data = json.load(f)

# Extracting relevant information from config
rel_file = config_data["info"]["rel_file"] + ".rel"
grid_file = config_data["info"]["data_files"][0] + ".grid"
geo_file = config_data["info"]["geo_file"] + ".geo"

# Load the dataframes
T_Drive_rel = pd.read_csv(f'../data/T-Drive/{rel_file}', delimiter=',')
T_Drive_grid = pd.read_csv(f'../data/T-Drive/{grid_file}', delimiter=',')
T_Drive_geo = pd.read_csv(f'../data/T-Drive/{geo_file}', delimiter=',')

In [16]:
pems04 = pd.read_csv('../data/PEMS04.csv')
pems07 = pd.read_csv('../data/PEMS07.csv')
pems08 = pd.read_csv('../data/PEMS08.csv')
taxi_zones = pd.read_csv('../data/taxi_zone_geo.csv')
taxi_trips = pd.read_csv('../data/taxi_trip_data.csv')

In [18]:
taxi_zones.head()

,zone_id,zone_name,borough,zone_geom
0,1,Newark Airport,EWR,"POLYGON((-74.1856319999999 40.6916479999999, -..."
1,3,Allerton/Pelham Gardens,Bronx,"POLYGON((-73.848596761 40.8716707849999, -73.8..."
2,18,Bedford Park,Bronx,"POLYGON((-73.8844286139999 40.8668003789999, -..."
3,20,Belmont,Bronx,"POLYGON((-73.8839239579998 40.8644177609999, -..."
4,31,Bronx Park,Bronx,"POLYGON((-73.8710017319999 40.8572767429999, -..."

In [24]:
taxi_trips.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id
0,2,2018-03-29 13:37:13,2018-03-29 14:17:01,1,18.15,3,N,1,70.0,0.0,0.0,16.16,10.50,0.3,96.96,161,1
1,2,2018-03-29 13:37:18,2018-03-29 14:15:33,1,4.59,1,N,1,25.0,0.0,0.5,5.16,0.00,0.3,30.96,13,230
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,1,0.30,1,N,1,3.0,0.0,0.5,0.76,0.00,0.3,4.56,231,231
3,2,2018-03-29 13:07:48,2018-03-29 14:03:05,2,16.97,1,N,1,49.5,0.0,0.5,5.61,5.76,0.3,61.67,231,138
4,2,2018-03-29 14:19:11,2018-03-29 15:19:59,5,14.45,1,N,1,45.5,0.0,0.5,10.41,5.76,0.3,62.47,87,138

In [10]:
pems04_rel.head()

   rel_id type  origin_id  destination_id   cost
0       0  geo         73               5  352.6
1       1  geo          5             154  347.2
2       2  geo        154             263  392.9
3       3  geo        263              56  440.8
4       4  geo         56              96  374.6

In [11]:
pems04_geo.head()

   geo_id   type coordinates
0       0  Point          []
1       1  Point          []
2       2  Point          []
3       3  Point          []
4       4  Point          []

In [20]:
NYCTaxi_grid.head()

   dyna_id   type                  time  row_id  column_id  inflow  outflow
0        0  state  2014-01-01T00:00:00Z       0          0    42.0     32.0
1        1  state  2014-01-01T00:30:00Z       0          0    65.0     49.0
2        2  state  2014-01-01T01:00:00Z       0          0    34.0     49.0
3        3  state  2014-01-01T01:30:00Z       0          0    28.0     42.0
4        4  state  2014-01-01T02:00:00Z       0          0    27.0     52.0

In [25]:
NYCTaxi_grid['dyna_id'].nunique()

1314000

In [26]:
NYCTaxi_grid.shape

(1314000, 7)

In [ ]:
# Read PeMS04.dyna
dyna_df = pd.read_csv('../data/PEMS04/PeMS04.dyna', delimiter=',')

In [ ]:
rel_df = pd.read_csv('../data/PEMS07/PeMS07.geo', delimiter=',')
rel_df.head()

<a id='#data'></a>
<font size="+2" color='#053c96'><b> Data</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Data Loading</b></font>

In [ ]:
pems04 = pd.read_csv('../data/PEMS04.csv')
pems07 = pd.read_csv('../data/PEMS07.csv')
pems08 = pd.read_csv('../data/PEMS08.csv')
data = pd.read_csv('../data/original_cleaned_nyc_taxi_data_2018.csv')
taxi_zones = pd.read_csv('../data/taxi_zone_geo.csv')
taxi_trips = pd.read_csv('../data/taxi_trip_data.csv')

<font size="+0" color='green'><b> Data Overview</b></font>

In [ ]:
print(pems04.info())
pems04.shape

In [ ]:
print(pems07.info())
pems07.shape

In [ ]:
print(pems08.info())
pems08.shape

In [ ]:
print(taxi_trips.info())
taxi_trips.shape

Attributes Description:

- pickup_location_id and dropoff_location_id: Represent the unique identification numbers for pickup and dropoff locations, respectively.
- cost: Represents the cost associated with each taxi trip.
- vendor_id: Indicates the vendor or company providing the taxi service.
- pickup_datetime and dropoff_datetime: Capture the timestamps of the pickup and dropoff times.
- passenger_count: Represents the number of passengers in the taxi for each trip.
- trip_distance: Indicates the distance covered during each trip.
- rate_code: Represents the rate code associated with each trip.
- store_and_fwd_flag: Indicates whether the trip data was stored and forwarded.
- payment_type: Represents the method of payment used for each trip.
- fare_amount: Indicates the fare charged for each trip.
- extra: Represents any extra charges incurred during the trip.
- mta_tax: Captures the MTA tax amount for each trip.
- tip_amount: Indicates the tip amount given for each trip.
- tolls_amount: Represents the tolls amount paid during the trip.
- imp_surcharge: Captures the improvement surcharge for each trip.
- total_amount: Indicates the total cost of each trip including all additional charges and tips.

In [ ]:
pems04.head()

In [ ]:
pems07.head()

In [ ]:
pems08.head()

In [ ]:
taxi_trips.head()

<a id='summary-statistics'></a>
<font size="+0" color='green'><b> Summary Statistics</b></font>

In [ ]:
pems04.describe()

In [ ]:
pems07.describe()

In [ ]:
pems08.describe()

* Observations and Analysis
  - Count of Data Points: pems07 has the largest count, followed by pems04 and then pems08.

  - Cost Distribution: The cost values in pems04 and pems08 are significantly higher compared to pems07, which suggests further investigation into the costs in pems07 which are considerably lower.

  - Data Range: There is a significant difference in the range of cost values between the datasets, indicating the possibility of different underlying factors affecting the costs.

* Conclusion  
  - The datasets represent costs from different periods (pems04, pems07, pems08), with each dataset displaying unique characteristics in terms of mean, spread, and distribution of costs. Further analysis, including data visualization and statistical tests, would be necessary to explore relationships and derive more meaningful insights from the data.

In [ ]:
taxi_trips.describe(include='all')

In [ ]:
taxi_zones.head()

<a id='exploratory-data-analysis'></a>
<font size="+2" color='#053c96'><b> Exploratory Data Analysis</b></font>  
[back to top](#table-of-contents)

<a id='data-exploration'></a>
<font size="+0" color='green'><b> Data Exploration</b></font>

<font size="-0" color='green'><b> Percentage Difference pems04/pems07</b></font>  

Percentage Difference = (X_pems04 - X_pems07) / X_pems04 * 100

- Mean_diff = (410.300588 - 1.462465) / 410.300588 * 100 = 99.644%
- Std_diff = (257.518655 - 1.948768) / 257.518655 * 100 = 99.241%
- Min_diff = (3.2 - 0.032) / 3.2 * 100 = 99.001%
- 25%_diff = (328.775 - 0.59) / 328.775 * 100 = 99.820%
- 50%_diff = (367.15 - 0.917) / 367.15 * 100 = 99.750%
- 75%_diff = (422.3 - 1.612) / 422.3 * 100 = 99.618%
- Max_diff = (2712.1 - 20.539) / 2712.1 * 100 = 99.242%

So, the percentage differences are approximately:

- Mean: 99.644%
- Std: 99.241%
- Min: 99.001%
- 25%: 99.820%
- 50%: 99.750%
- 75%: 99.618%
- Max: 99.242%

<font size="-0" color='green'><b> Percentage Difference pems84/pems07</b></font>  

Percentage Difference = (X_pems08 - X_pems07) / X_pems08 * 100

- Mean_diff = (315.895254 - 1.462465) / 315.895254 * 100 = 99.536%
- Std_diff = (216.686639 - 1.948768) / 216.686639 * 100  = 99.100%
- Min_diff = (6.3 - 0.032) / 6.3 * 100 = 99.492%
- 25%_diff = (240.3 - 0.59) / 240.3 * 100 = 99.753%
- 50%_diff = (328.1 - 0.917) / 328.1 * 100 = 99.720%
- 75%_diff = (372.15 - 1.612) / 372.15 * 100 = 99.566%
- Max_diff = (3274.4 - 20.539) / 3274.4 * 100 = 99.373%

So, the percentage differences are approximately:

- Mean: 99.536%
- Std: 99.100%
- Min: 99.492%
- 25%: 99.753%
- 50%: 99.720%
- 75%: 99.566%
- Max: 99.373%

In [ ]:
taxi_trips['pickup_location_id'].nunique()

In [ ]:
taxi_trips['dropoff_location_id'].nunique()

In [ ]:
taxi_trips['passenger_count'].value_counts()

In [ ]:
taxi_trips['vendor_id'].value_counts()

In [ ]:
taxi_trips['rate_code'].value_counts()

<a id='data-visualization'></a>
<font size="+0" color='green'><b> Data Visualization</b></font>

In [ ]:
# count the number of occurrences for each type
type_counts = taxi_trips['vendor_id'].value_counts()

# plot the bar chart
ax = type_counts.plot.bar(rot=0)

# set axis labels and title
ax.set_xlabel('vendor_id')
ax.set_ylabel('Count')
ax.set_title('Number of Vendor by ID')

# show the plot
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(8, 6))
sns.boxplot(x=taxi_trips['cost'], data=taxi_trips, ax=ax)
sns.set_style('whitegrid')
sns.despine(left=True)
ax.set_title('Box plot of Price', fontsize=20)
ax.set_xlabel('Price', fontsize=16)
ax.set_ylabel('Value', fontsize=16)
plt.show()

In [ ]:

# Group the wines by country and type, and count the number of wines in each group
grouped = taxi_trips.groupby(['passenger_count', 'vendor_id'])['vendor_id'].count().unstack()

# Set the figure size
#plt.subplots(figsize=(10, 6))
plt.figure(figsize = (35,20))
# Plot a stacked bar chart of the wine types for each country
sns.set_palette('husl')
grouped.plot(kind='bar', stacked=True)
plt.xlabel('passenger_count')
plt.ylabel('vendor_id')
plt.title('Distribution of passenger count by vendor_id')
plt.show();

<a id='feature-correlation'></a>
<font size="+0" color='green'><b> Feature Correlation</b></font>

<a id='data-preparation'></a>
<font size="+2" color='#053c96'><b> Data Preparation</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Data CLeaning</b></font>

In [ ]:
pems07['cost'] = pems07['cost'] * 100

In [ ]:
pems = combine_dataframes([pems04, pems07, pems08])

In [ ]:
# Renaming the columns
pems.rename(columns={'from': 'pickup_location_id', 'to': 'dropoff_location_id'}, inplace=True)

In [ ]:
df = pd.merge(pems, taxi_trips, on=['pickup_location_id', 'dropoff_location_id'], how='inner')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.isna().sum()

<font size="+0" color='green'><b> Handling Imbalanced Classes</b></font>

<font size="+0" color='green'><b> Feature Engineering</b></font>

<font size="+0" color='green'><b> Feature Selection</b></font>

<font size="+0" color='green'><b> Data Transformation</b></font>

<font size="+0" color='green'><b> Data Splitting</b></font>